.video {
  position: fixed;
  z-index: 1;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  width: auto;
  height: auto;
}

.content {
  position: relative;
  top: -6em;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  background-image: image-url("mountains.jpeg");
  background-size: cover;
  height: 51em;
  width: 100%;

  .content-heading {
    position: relative;
    top:2em;
    color: white;
    // color: #3a4f5a;
    // color: #51829c;
    // color: #466373;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: #b85832 0px 0px 10px;
  }

  .content-teaser {
    margin-bottom: 24px;
    color: rgb(89,89,89);
    font-size: 22px;
  }

  .content-cta {
    display: inline-block;
    margin: 0;
    padding: 12px 48px;
    color: rgb(255,60,100);
    font-size: 22px;
    text-decoration: none;
    border: solid 4px rgb(255,60,100);
  }

  .glyphicon-menu-down {
    color: white;
    font-size: 4em;
    content: "\e259";
    position: absolute;
    top: 10em;
    margin: 0 auto;

    &:hover{
      text-shadow: #fff 0px 0px 10px;
      cursor: pointer;
    }
  }
}

#two {
  width: 100%;
  text-align: center;
  padding: 1em 0 0;

  .two-image {
    display: inline-block;

    img {
      height: 20em;
      width: 20em;
      border-radius: 100%;
      margin: 0 4em;
      border: solid white 8px;
      transition: transform 0.5s;

      &:hover {
        height: 25em;
        width: 25em;
        transform: rotate(360deg);
        box-shadow: white 0px 0px 10px;
      }
    }

    h2 {
      color: white;
      font-size: 3em;
      font-weight: bolder;
    }
  }
}

.entry-content {
  margin: 7em auto;
  width: 80%;
  background: white;
  padding: 3em 4em;
  border-radius: 50px;

  h2 {
    color: #b85832;
    font-size: 3em;
  }

  p {
    color: #ca915a;
    margin: 1em 0 2em 0;
    font-size: 1.3em;
  }

  li {
    color: #ca915a;
    font-size: 1.3em;

    &:first-child {
      margin: 1em 0 0 0;
    }
  }
}
